<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CarMapper">
    <insert id="registerInfo" parameterType="com.example.demo.entity.Car">
        insert into car set
         color = #{color},
         `type` = #{type},
          code = #{code},
          age = #{age};
    </insert>

    <select id="searchInfo" resultType="com.example.demo.entity.Car">
            select c.age,c.carID,isService from car c
            inner join driver p
            on c.carID = p.carID
            where status = 1
    </select>
</mapper>
