<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminMapper">

    <select id="login" resultType="com.example.demo.entity.Admin">
        select * from `admin`
        <where>
            <if test="account!=null">account=#{account}</if>
        </where>
    </select>

    <select id="searchAddress" resultType="com.example.demo.entity.Address">
        select * from address
    </select>

    <update id="updateLoginStatus" parameterType="com.example.demo.entity.Admin">
        update `admin`
        <set>
            <if test="status!=null">status=#{status}</if>
        </set>
        where account = #{account}
    </update>

</mapper>
